@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
    font-family: 'Open Sans'
}
.main-dashboard {
    min-height: 800px;
    border-radius: 0.5rem;
}
.stroke-4{
    stroke-width: 4;
}
